#topnav a{
    display: inline;
    list-style-type: none;
    text-align: center;
    padding: 1em 0;
    text-align: center;
    border-top: 2px #000000;
    border-bottom: 2px #000000;}
.dropdown-content {
    display: inline;
    position: absolute;
    width:100%;
    overflow:auto;
    }
.dropdown:hover .dropdown-content{display:block;}
<div class="dropdown">