/*Title: Nav CSS. Use: Visually style and create functionality of the webpages. Author: Sarah Messmer. School/term: University of Missouri Columbia, Summer 2020. Developed: June 20, 2020.*/
nav li {float: left; display: inline-block;}
nav ul {list-style-type: none; display:block; padding: 15px; margin: 0; width: 100%; overflow: hidden;}
/*hdropdown*/
.hdropdown {float: left; position: absolute; display:block;}
.hdropdown a {display: block; padding: 8px;}
.hdropdown-content {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  z-index: 1;}
/*dropdown*/
.dropdown {float: left; position: relative; display: inline-block;}
.dropdown a {display: block; padding: 8px;}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #F1EBBB;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 5px;
  z-index: 1;}
.dropdown:hover .dropdown-content {display: block;} 
.hamburger {display: none;}
/*responsive*/
@media only screen and (max-width: 640px){
.hamburger {display:inline-block;}  
.hamburger nav li {padding: 8px;}
.hamburger nav ul {display:none; margin-bottom: 10px;}
/*hdropdown*/
.hdropdown {float: left; position: relative; display: block;}
.hdropdown a {display: block; padding: 8px;}
.hdropdown-content {
  display: none;
  position: relative;
  background-color: #F1EBBB;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 5px;
  z-index: 1;}
.hdropdown:hover .hdropdown-content {display: block;}
/*dropdown*/
.dropdown {float: left; position: relative; display: inline-block;}
.dropdown a {display: block; padding: 8px;}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #F1EBBB;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 5px;
  z-index: 1;}
.dropdown:hover .dropdown-content {display: block;}   
}
@media only screen and (max-width:640px)
{
th,td{display:block; background-color:#F1EBBB; text-align: left;}
thead{display:none;}
tr td:first-child{background-color: #F1EBBB;}
tbody td{border-bottom-style: none;}
}