/* Title:  Home page
Use:  Give users information about me and my skills
Author:  Sarah Messmer
School/Term:  University of Missouri Columbia, Summer 2020
Developed: June 20, 2020
Tested: July 7, 2020; Passed on Firefox and Chrome browsers. */

body {font-family:sans-serif; font-size:100%; 
     border:5px groove #000000; padding:auto; margin:auto;}
#grad {background-image:linear-gradient(#fbceb, #a6c1ee);}
p {text-indent: 2em; margin:0; padding: auto;}
h3 {margin: 0; padding: auto;font-size:200%; color:#5C2A9D; font-weight: bold;}
h1 {margin:0; padding: auto; background-color: #F1EBBB; height:auto; width:auto;}
blockquote {font-style:italic; text-align:center;}
li {color:#B5076B;}

/*styles for specific items*/
#para {font-style:italic;}
#currentschool {color:#FFFF66;}
#currentjob {color:#FFFF66;}
#bigb {font-family:fantasy;}
#noborder {border:none;}

/*style for footer*/
#footertext {font-size:8pt;}
footer {border-top-style:dotted; padding-top:5px;}
a {text-decoration:none;}
a:link {color:#0044cc;}
a:visited {color:#330066;}
a:hover {color:#990000;}
a:active {color:#990066;}